  body{
    background:#E3516E;
  }

    div:nth-child(1) {
    width: 100px;
    height: 100px;
    background: #51B5A9;
    margin-left:91px;
    margin-top:50px;
    border-top-left-radius:100%;
  }

  div:nth-child(2) {
    width: 100px;
    height: 100px;
    background: #F7F3D7;
    margin-left:91px;
  }