  *{
    margin: 0;
    padding: 0;
  }
  
  body{
    background:#E3516E;
  }

    div:nth-child(1) {
    width: 100px;
    height: 100px;
    background: #51B5A9;
    margin-left:91px;
    margin-top:50px;
    border-top-left-radius:100%;
  }

  div:nth-child(2) {
    width: 100px;
    height: 100px;
    background: #F7F3D7;
    margin-left:91px;
    border-bottom-left-radius:100%;
  }

  
   div:nth-child(3) {
    width: 100px;
    height: 100px;
    background: #FADE8B;
    margin-left:191px;
    margin-top:-200px;
    border-top-right-radius:100%;
  }